@model IEnumerable<SistemaConsultorioDental.Domain.Entities.Paciente>

@{
    ViewData["Title"] = "Lista de Pacientes";
}

<h2 class="text-center mb-4">Pacientes</h2>

<a class="btn btn-primary mb-3" asp-action="AgregarPaciente">Agregar Paciente</a>

<a class="btn btn-primary mb-3" asp-controller="Home" asp-action="Menu">Volver al Menu</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Nacionalidad</th>
            <th>Acciones</th>
            <th>Citas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model)
        {
            <tr>
                <td>@paciente.NombreCompleto</td>
                <td>@paciente.Telefono</td>
                <td>@paciente.Nacionalidad</td>
                <td>
                    <a asp-action="EditarPaciente" asp-route-id="@paciente.Id" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="EliminarPaciente" asp-route-id="@paciente.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
                <td>
                    <a asp-controller="Citas" asp-action="MostrarCitas" asp-route-id="@paciente.Id" class="btn btn-info btn-sm">Ver Citas</a>

                </td>
            </tr>
        }
    </tbody>
</table>
